<form method="post" action="/artwork/add">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title"  />
  <label for="details">Details:</label>
  <input id="details" type="text" name="details" />
  <label for="date_created">Date created:</label>
  <input id="date_created" type="text" name="date_created" />
  <label for="arist-select">Assign an Artist:</label>
  <select id="artist-select" name="artist_id">
    <%for artist in @artists%>
      <option value="<%=artist.id%>"><%=artist.last_name.capitalize%>, <%=artist.first_name.capitalize%> </option>
    <% end %>
  </select>

  <label for="cat-select">Assign a Category:</label>
  <select id="cat-select" name="category_id">
    <%for category in @categories%>
      <option value="<%=category.id%>"><%=category.type.capitalize%></option>
    <% end %>
  </select>

  <input type="submit"  value="Add Artwork">
</form>
